<!-- Footer Start -->
<footer class="footer">
    <div class="container ">
        <div class="items-div flex flex-wrap items-center justify-between">
            <!-- Column 1 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5 class="text-[#FF385C] text-[25px] font-semibold ">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">AirCover</a></li>
                    <li><a href="#">Anti-discrimination</a></li>
                    <li><a href="#">Disability support</a></li>
                    <li><a href="#">Cancellation options
                        </a></li>
                    <li><a href="#">Report neighborhood concern</a></li>
                </ul>
            </div>
            <!-- Column 2 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5 class="">Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >Airbnb your home</a></li>
                    <li><a href="#" >Airbnb your experience</a></li>
                    <li><a href="#" >Airbnb your service</a></li>
                    <li><a href="#" >AirCover for Hosts</a></li>
                    <li><a href="#" >Hosting resources</a></li>
                    <li><a href="#" >Community forum</a></li>
                    <li><a href="#" >Hosting responsibly</a></li>
                    <li><a href="#" >Airbnb-friendly apartments</a>
                    </li>
                    <li><a href="#" class="text-decoration-none text-light d-block py-1">Join a free Hosting class</a>
                    </li>
                    <li><a href="#" class="text-decoration-none text-light d-block py-1">Find a co-host</a></li>
                </ul>
            </div>
            <!-- Column 3 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5 class="">Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Cookies Policy</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Law Enforcement</a></li>
                </ul>
            </div>
         
           
        </div>
        <h1 class="">Wandernest</h1>
        <hr class="ftr-hr">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 ZakirRehmanMala. All Rights Reserved.</p>
        </div>
    </div>
</footer>